# =========================
# NODE
# =========================

node_modules/
dist/
build/
coverage/

# =========================
# LOGS
# =========================

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# ENV
# =========================

.env
.env.*
!.env.example

# =========================
# DOCKER
# =========================

docker-data/
postgres-data/
mysql-data/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# TEMP
# =========================

.temp/
.tmp/

# =========================
# NESTJS
# =========================

dist/

# =========================
# FRONTEND
# =========================

.next/
.nuxt/
.angular/
.cache/

# =========================
# SQLITE
# =========================

*.sqlite
*.db